/* Susy Settigns */
$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
//1em

/* Responsive Columns */
$first-break: 30em $total-columns*1.5;

$second-break: 40em $total-columns*2;

$third-break: 50em $total-columns*3;

$fourth-break: 60em $total-columns*4;

$fifth-break: 70em $total-columns*3;

$sixth-break: 80em $total-columns*3;

/* Base Variables */
$base-font-size: 16px;
$base-line-height: 6px;

/* EM Conversion function */
@function em($target) {
  @return ($target / $base-font-size) * 1em;
}

/* Colors */


/* Shades */
$white: #ffffff;
$gray-primary: darken(#ffffff, 25%);
$gray-secondary: darken(#ffffff, 50%);
$gray-tertiary: darken(#ffffff, 75%);
$gray-tertiary_hover: scale-lightness($gray_tertiary, -25%);
$black: #000000;

/* Fonts */
$font-fallback: Helvetica, Arial, sans-serif;

// Main Stack


// Alternative Stack