/* Susy Settigns */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

/* Responsive Columns */

/* Base Variables */
$base-font-size: 16px;
$base-line-height: 6px;

/* EM Conversion function */
@function em($target) {
  @return ($target / $base-font-size) * 1em;
}

/* Colors */

/* Shades */
$white: #ffffff;
$gray-primary: darken(#ffffff, 25%);
$gray-secondary: darken(#ffffff, 50%);
$gray-tertiary: darken(#ffffff, 75%);
$gray-tertiary_hover: scale-lightness($gray_tertiary, -25%);
$black: #000000;

/* Fonts */
$font-fallback: Helvetica, Arial, sans-serif;

// Main Stack

// Alternative Stack